.ant-carousel .slick-slide {
    margin-top: 2rem;
    text-align: center;
    max-height: 55vh;
    line-height: 55vh;
    background: rgb(10, 10, 10);
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.img {
    object-fit: cover !important;
    width: 100%;
    height: 55vh;
}

.box {
    position: relative;
    display: inline-block;
    /* Make the width of box same as image */
}

.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 50%;
    top: 20%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%;
    /* Set the width of the positioned div */
}